---
import "../styles/global.css";

import Header from '../components/Header.astro'

const { title, subtitle } = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {subtitle}</title>
	</head>
	<body class="flex min-h-full bg-white dark:bg-slate-900">
		<div class="full">
			<Header />
			<main class="border-t border-slate-200 dark:border-slate-700 pb-10 pt-10 pr-10 lg:relative lg:mb-28 lg:ml-122 lg:border-t-0 xl:ml-120 max-w-4xl">
				<slot />
			</main>
		</div>
	</body>
</html>
