---
import "../styles/global.css";

import { Button } from "@/components/ui/button";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Autograder" subtitle="Scan and grade">
	<body>
		<h1 class="text-2x">Autograder</h1>
		<Button>Scan student work</Button>
	</body>
</Layout>
