name: Deploy app to Cloudflare Workers

on:
  push:
    branches:
      - main
    paths:
      - apps/app/**
      - packages/**
  workflow_dispatch:

jobs:
  deploy_app:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.11.1'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: '9.15.9'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint monorepo
        run: pnpm lint:monorepo

      - name: Lint app
        run: pnpm --filter=pwa lint

      - name: Test app
        run: pnpm --filter=pwa test

      - name: Build app
        run: pnpm --filter=pwa build

      - name: Pin Wrangler version
        run: pnpm add -g wrangler@4.42.0

      - name: Deploy app to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: cs8903-odc-app
          workingDirectory: ./apps/app/dist
