name: Deploy app to Cloudflare Workers

on:
  push:
    branches:
      - main
    paths:
      - apps/app/**
      - packages/**
  workflow_dispatch:

jobs:
  deploy_app:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.16.0'

      - name: Install dependencies
        run: npm ci

      - name: Lint monorepo
        run: npm run lint:monorepo

      - name: Lint app
        run: npm run lint -w=apps/app

      - name: Test app
        run: npm run test -w=apps/app

      - name: Build app
        run: npm run build -w=apps/app

      - name: Pin Wrangler version
        run: npm install -g wrangler@4.42.0

      - name: Deploy app to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: cs8903-odc-app
          workingDirectory: ./apps/app/dist
